@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

$pc: 1024px; // PC
$tab: 896px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

header {
	text-align: center;
	max-width: 100%; 
	height:auto;

	@include pc {
		background-color: red;
	  }
	  @include tab {
		background-color: blue;
	  }
	  @include sp {
		background-color: yellow;
	  }
}

#wrapper {
	text-align: center;
	max-width: 100%;
	margin: 10 10;
}