@charset "utf-8";

// リセットCSS
*,
*::before,
*::after {
  box-sizing: border-box;
}

$pc: 1024px; // PC
$tab: 896px; // タブレット
$sp: 480px;  // スマホ

// ブレイクポイント
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

body {
	// background-image: url("./img/bgimg.jpg");
	margin: 5vw;
}

header {
	text-align: center;
	max-width: 100%;
	height: auto;

	@include pc {
		background-color: red;
	}
	  @include tab {
		background-color: blue;
	}
	  @include sp {
		background-color: yellow;
	}
	
	img {
		max-width: 100%;
	}

}

#wrapper {
	text-align: center;
	max-width: 100%;
	margin: 10 10;
}

#studentidform {

	input {
		// リセット
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	  }
	
	button {
		width: 60vw;
		height: 60vw;
		max-height: 300px;
		max-width: 300px;
		border-radius: 50%;
		text-align: center;
		font-size: 1.2em;
		background-color: #000;
		color: #fff;
		border-style: none;
		margin: 10px 10px;
	 }
	}
	
	#output {
	display:inline;
	}